* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
  }  
  .wrapper {
    display: flex;
    position: relative;
    background: #E4F4F4;
  }
  .main_content {
    width: 100%;
    height: 100vh;
    
  }
  .main_content .header {
    padding: 30px 40px;
  }
  .main_content .header h3 {
    float: left;
    color: #3a5f79;
    font-weight: bold;
    font-size: x-large;
    padding-top: 5px;
  }
  .main_content .header .profile{
    float: right;
    display: flex;
    align-items: center;
  }
  .main_content .header .profile .link{
    padding-right: 20px;
    color: #3a5f79;
    font-size: larger;
  }
  .main_content .header .profile img{
      padding-left: 0px;
      border-radius: 50%;
  }
  
  .main_content .header p {
    font-size: smaller;
    color: #3a5f79;
    padding-left: 20px;
  }
  .main_content .header i{
    padding-right: 20px;
    color: #3a5f79;
  }
  .main_content .header img{
    padding-left: 0px;
    border-radius: 50%;
  }
  .content{
    margin-top: 40PX;
    color: #505253;
  }
  .product_content{
    background: #FFF;
    padding: 20px;
    margin: 40px;
    border-radius: 8px;
    color: #505253;
  }
  .product_content .content_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .btn {
    height: 40px;
    background-color: #3EBFBF;
    border-radius: 10px;
    color: white;
    padding: 7px 14px;
    cursor: pointer;
    border: #3EBFBF 1px solid;
  }
  
  .btn:hover {
    background-color: #E4F4F4;
    color: #3EBFBF;
  }
  .btn_filter{
    height: 40px;
    padding: 7px 14px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #FFF;
    color: #a3a7a7;
    border: #a3a7a7 1px solid;
    margin-right: 10px;
  }
  .btn_filter:hover{
      color: #3EBFBF;
      border: #3EBFBF 1px solid;
  }
  .wrapper .sideNavbar {
    width: 250px;
    /* height: 100vh; */
    background-color: #FFF;
    font-size: smaller;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* position: fixed; */
  }
  .sideNavbar .label {
    display: flex;
    align-items: center;
    padding-top: 30px;
  }
  .sideNavbar .label .logo {
  
    margin-left: 15px;
    border-radius: 50%;
  }
  .sideNavbar .label h3 {
    text-transform: capitalize;
    text-align: center;
    color: #3a5f79;
    padding-left: 15px;
    font-size: 19px;
  }
  .sideNavbar .links{
    padding-top: 30px;
  }
  .sideNavbar .link{
    padding: 17px;
    color: #7d7e80;
    display: block;
  }
  .sideNavbar .link:hover{
    border-right: 3px solid #82DCDD;
    color: #82DCDD;
  }
  .wrapper .sideNavbar .link .fas{
    font-size: large;
    padding-right: 15px;
    width: 20px;
  }
  .links_footer{
    padding-bottom: 25px;
  }
  .main_content .content table {
    width: 100%;
    overflow-x:auto;
    padding-top: 20px;
    font-size: smaller;
    border-spacing: 0px;
  }
  .main_content .content  thead {
    font-weight: bold;
    font-size: 14px;
    background-color: #F4F8F9;
    
  }
  td{
    border-bottom: 1px solid #e0e5e9;
    padding: 15px;
  }
  .item{
    width: 100%;
  }
  .footer{
    padding: 20px;
    font-size: smaller;
    color: #696d70;
    font-weight: bold;
  }
  .entries{
    float: left;
  }
  .pagination{
    float: right;
    display: flex;
    align-items: center;
  }
  .pagination a {
    display: inline-flex; 
    width: 20px;
    height: 20px;
    color: #696d70;
    align-items: center;
    justify-content: center;
  }
  .pagination a:hover {
    background-color: #3EBFBF;
    border-radius: 50%;
  }
  .checkbox{
    width: 20px;
    border: none;
  }
  .image{
    width: 30px;
  }
  .row:hover{
    background-color: #F4F8F9;
  }
  img{
    border-radius: 5px;
  }
  .thead{
    border: none;
  }
  #active{
    color:#17CA3F;
  }
  #disable{
    color: #CD5050;
  }
  